/* Lägg till dessa Tailwind-direktiv i början av din globals.css */
@import 'tailwindcss';

@theme {
	--font-sans: 'roboto', 'sans-serif';
	--font-serif: 'lora', 'serif';

	--color-deep-blue: #010026;
	--color-yellow: #fdcc49;
	--color-red: #dc4492;
	--color-blue: #2cbce9;
	--color-grey: #ededed;
	--color-dark-grey: #757575;
	--color-opaque-black: rgba(0, 0, 0, 0.35);

	--gradient-rainbow: linear-gradient(
		81.66deg,
		#00b5ee 7.21%,
		#ff45a4 45.05%,
		#ffba00 78.07%
	);
	--gradient-rainblue: linear-gradient(
		90deg,
		#24cbff 14.53%,
		#fc59ff 69.36%,
		#ffbd0c 117.73%
	);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer base {
	.font-sans {
		font-family: var(--font-sans);
	}

	.font-serif {
		font-family: var(--font-serif);
	}

	.bg-gradient-rainbow {
		background-image: var(--gradient-rainbow);
	}

	.bg-gradient-rainblue {
		background-image: var(--gradient-rainblue);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	@apply font-sans;
}
